/*** Oi editor style ***/

@import 'oi_variables';
@import 'oi_animate';

/************/
/** EDITOR **/
/************/

/** DataPanel **/
// mixin
@mixin oi-input-style(){
  .input-group-addon{
    color: $font-color;
    background-color: $sub-color;
    border: 1px solid $main-color-dark;
  }
  input{
    text-align: center;
    color: $font-color;
    background-color: $main-color-dark;
    border: 0px;
    &:focus{
      box-shadow: $box-shadow-input;
    }
  }
}
// style
.oi-editpanel{
  z-index: 999;

  .oi-editpanel-props{
    position: fixed;
    top: 15%;
    right: 0;
    width: 130px;
    
    &.oi-editpanel-editing{
      animation: slideInRight .3s ease-out forwards;
    }
    &.oi-editpanel-not-editing{
      animation: slideOutRight .5s ease-out forwards;
    }
    
    .panel{
      border: 0;
      box-shadow: $box-shadow;
      background-color: $main-color;

      @include oi-input-style();
    }
  }
  
  .oi-editpanel-content{
    position: fixed;
    top: 25%;
    left: 0;
    
    &.oi-editpanel-editing{
      animation: slideInLeft .3s ease-out forwards;
    }
    &.oi-editpanel-not-editing{
      animation: slideOutLeft .5s ease-out forwards;
    }
    
    .panel{
      border: 0;
      box-shadow: $box-shadow;
      background-color: $main-color;

      .panel-body{ padding: 10px; }
    }
  }
  
  .oi-divider{
    margin-top: 15px;
    margin-bottom: 15px;
    border-top: 1px solid $sub-color;
  }
}
.control-label{
  color: $font-color;
  margin-bottom: 5px;
}

/***********/
/** MODAL **/
/***********/
.modal-content{
  background-color: $main-color;
  color: $font-color;
  
  .modal-header{
    border-bottom: 1px solid $sub-color;
    button { color: $font-color;}
  }
  .modal-footer{
    border-top: 1px solid $sub-color;
  }
  @include oi-input-style();
}

/*************/
/** TinyMCE **/
/*************/
.oi-tinymce-editor{
  .mce-panel{
    background-color: $main-color;
    border: 0;
    *, .mce-txt{ color: $font-color; }
    .mce-menubar{ 
      border: 1px solid $sub-color; 
      
      .mce-caret{ border-top-color: $font-color; }
    }
    .mce-btn-group:not(:first-child){ border-left: 1px solid $sub-color; }
    .mce-btn{
      background-color: $main-color;
      
      .mce-caret{ border-top-color: $font-color; }
      &.mce-active{
        background-color: $sub-color;
        border: 1px solid $main-color-dark;
      }
      &:hover, &:focus{
        background: $main-color-light;
        border: 1px solid $main-color-dark;
      }
    }
  }
}

/*************/
/** TOOLTIP **/
/*************/
.tooltip{
  &.left{
    .tooltip-arrow{ border-left-color: $main-color-dark; }
  }
  &.bottom{
    .tooltip-arrow{ border-bottom-color: $main-color-dark; }
  }
  .tooltip-inner{ background-color: $main-color-dark; }
}

/************/
/** BUTTON **/
/************/
// mixin
@mixin oi-btn-define($_border, $_color, $_color-light, $_color-dark, $_box-shadow, $_box-shadow-hover){
  color: $font-color;
  background-color: $_color;
  border: $_border;
  box-shadow: $_box-shadow;
  // :hover 與 :active (box-shadow, background-color) 時的動畫
  transition: box-shadow, background-color 0.3s ease;
  
  &:hover{
    color: $font-color-active;
    background-color: $_color-light;
    box-shadow: $_box-shadow-hover;
  }
  &:active{
    color: $font-color;
    background-color: $_color-dark;
    box-shadow: $_box-shadow;
  }
}
// style
.oi-btn{
  z-index: 99;
  
  &.oi-btn-o{
    width: 52px;
    height: 52px;
    border-radius: 50px;
  }
  &.oi-btn-fill{
    width: 100%;
  }
  &.oi-btn-add{
    @include oi-btn-define(0, $active-color, $active-color-light, $active-color-dark, $box-shadow, $box-shadow-hover);
  }
  &.oi-btn-add-pos{
    position: fixed;
    bottom: 30px;
    right: 30px;
  }
  &.oi-btn-edit{
    @include oi-btn-define(0, $main-color, $main-color-light, $main-color-dark, $box-shadow, $box-shadow-hover);
  }
  &.oi-btn-edit-pos{
    position: fixed;
    bottom: 100px;
    right: 30px;
  }
  &.oi-btn-download{
    @include oi-btn-define(0, $main-color, $main-color-light, $main-color-dark, $box-shadow, $box-shadow-hover);
  }
  &.oi-btn-download-pos{
    position: fixed;
    top: 20px;
    right: 30px;
  }
  &.oi-btn-import{
    @include oi-btn-define(0, $primiry-color, $primiry-color-light, $primiry-color-dark, $box-shadow, $box-shadow-hover);
    position: relative;
    overflow: hidden;
    
    input{
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      padding: 0;
      cursor: pointer;
      opacity: 0;
      filter: alpha(opacity=0);
    }
  }
  &.oi-btn-import-pos{
    position: fixed;
    top: 20px;
    right: 100px;
  }
  &.oi-btn-del{
    @include oi-btn-define(1px solid $main-color-dark, $sub-color, $danger-color, $danger-color-dark, $box-shadow, $box-shadow-hover);
  }
  &.oi-btn-ctl{
    @include oi-btn-define(0, $sub-color, $warn-color, $warn-color-dark, $box-shadow, $box-shadow-hover);
    &.oi-btn-overview{
      z-index: 999;
    }
  }
  &:focus, &:focus:active{
    outline: none;
  }
}


/************/
/** FOOTER **/
/************/
.oi-footer{
  position: fixed;
  bottom: 10px;
  left: 10px;
  iframe, div{ vertical-align: middle; }
  div{
    font-size: 12px;
    color: #636c73;
    margin-bottom: 5px;
    i{color: #d2482e;}
  } 
}